body {
  font-family: Impact;
  background-color: pink;
  color: green;
}

.roomname {
  font-size: 30px;
  text-align: center;
}

.room {
  position: relative;
  height: 200px;
  border: 1px solid black;
  background-image: url(living.jpg);
}

.description {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
#tv2hall{
	width: 80px;
	height: 120px;
	display: inline-block;
	font-size: 30px;
	background-color: silver;
	border: 10px ridge brown;
	border-bottom: none;
	padding: 10px;
	color: red;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 10;
}
#tv
{
	display: inline-block;
	position: absolute;
	bottom: 415;
	right: 10;
}
#show{
	position: fixed;
	width: 42em;
	height:40em;
	text-align: center;
	font-size: 32px;
	background-color: white;
	color: Black;
	background-image: url(tv.jpg);
	animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

